.card {
  margin-top: 2em;
  padding: 2em;
  border: 3px solid rgb(130, 62, 255);
  border-radius: 25px;
  text-align: left;
}

h2 {
  margin-top: 0;
}

pre {
  border: 1px solid white;
  padding: 8px;
  background-color: rgb(32, 32, 32);
}

.hoverReactBlue:hover {
  color: cornflowerblue;
  border-color: cornflowerblue;
  transition: 300ms;
  cursor: pointer;
}

.hoverReactRed:hover {
  color: lightcoral;
  border-color: lightcoral;
  transition: 300ms;
  cursor: pointer;
}

.hoverReactGreen:hover {
  color: seagreen;
  border-color: seagreen;
  transition: 300ms;
  cursor: pointer;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.7);
}

dialog {
  border: 3px solid rgb(130, 62, 255);
  border-radius: 25px;
}

.dialogBox {
  margin: 16px 8px;
}

.inlineSpacedElements {
  margin-left: 12px;
  margin-right: 12px;
}

.placeholderText {
  margin-left: 32px;
  color: dimgrey;
}
