.criteriaElm:hover {
    color: lightgreen;
    border: 1px solid lightgreen;
}

.blockElm:hover {
    color: mediumpurple;
    border: 1px solid mediumpurple;
}

.newElm {
    opacity: 0.3;
}

.newElm:hover {
    color: lightskyblue;
    border: 1px solid lightskyblue;
    opacity: 1;
}

.ruleElm {
    background-color: rgb(46, 46, 46);
    padding: 5px 10px;
    border-radius: 5px;
    transition: 200ms;
    cursor: pointer;
    border: 1px solid white;
}

.ruleElm:hover {
    background-color: rgb(30, 30, 30);
}

.ruleEditionSpace li {
    list-style-type: none;
    margin-top: 16px;
    margin-bottom: 16px;
}
